In [1]:
import numpy as np
import pandas as pd
import re

from bs4 import BeautifulSoup as bs

from path import Path, getcwdu

import glob
import os
from pathlib import PurePath
import copy

import random
import gzip
import shutil

In [2]:
full_path_list = [PurePath(os.getcwd()).joinpath(file).as_posix() for file in glob.iglob('../employee_filings/*.gz')]
full_file_list = [PurePath(file).name for file in glob.iglob('../employee_filings/*.gz')]
full_accession_ids = [PurePath(file).stem.replace('.html', '') for file in full_file_list]
full_cik_nbrs = [x.split(sep='-')[0] for x in full_accession_ids]

In [3]:
train_accession_ids = pd.read_csv('../data/train_accession_ids.csv', names=['acc_id'])['acc_id'].tolist()
val_accession_ids = pd.read_csv('../data/val_accession_ids.csv', names=['acc_id'])['acc_id'].tolist()

labeled_df = pd.read_excel('../data/train_val_employee_count_paragraphs.xlsx')
subset_df = pd.read_excel('../data/subset_employee_count_paragraphs.xlsx')

In [4]:
subset_file_list = [PurePath(os.getcwd()).joinpath('../employee_filings/').joinpath(file) for file in full_file_list if PurePath(file).stem.replace('.html', '') in subset_df.accession_number.unique().tolist()]

In [5]:
# After reading back in, the html needs to be parsed again
tbl_html_df = pd.read_csv('data/tbl_html_df.csv')
tbl_html_df['tbl_html'] = tbl_html_df.tbl_html.apply(lambda x: bs(x, 'lxml'))

In [6]:

p_dtypes = {'acc_id' : 'category', 
'len' : 'int', 
'emp_header' : 'bool', 
'first_emp_head_block' : 'bool', 
'split' : 'category', 
'label' : 'category'}
paragraph_input_df = pd.read_csv('data/paragraph_input_df.csv', dtype=p_dtypes, index_col=0)

train_df = paragraph_input_df[paragraph_input_df.split == 'train']

In [7]:
paragraph_input_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4817 entries, 0 to 4816
Data columns (total 9 columns):
acc_id                  4817 non-null category
para_text               4817 non-null object
len                     4817 non-null int32
emp_header              4817 non-null bool
first_emp_head_block    4817 non-null bool
para_text_orig          4817 non-null object
para_tag                4817 non-null object
split                   4817 non-null category
label                   4817 non-null category
dtypes: bool(2), category(3), int32(1), object(3)
memory usage: 207.6+ KB

In [8]:
def print_row_detail(df=train_df, nrow=10, header_list = ['acc_id'],
                    detail_list = [ 'len', 'first_emp_head_block', 'split' ,'para_text'],
                    sortby=['acc_id', 'first_emp_head_block', 'len'], ascending=False):
    df_sorted = df.sort_values(sortby, ascending=ascending).reset_index()
    nrow = min(len(df_sorted), nrow)
    for i in range(0, nrow):
        for h in header_list:
            print('-'*35  + ' ' +  str(df_sorted[h][i]) + ' ' + '-'*35)
        for d in detail_list:
            print(d + '  :' + str(df_sorted[d][i]))
            print('')

In [9]:
print_row_detail()

----------------------------------- 0001193125-17-107561 -----------------------------------
len  :179

first_emp_head_block  :True

split  :train

para_text  :3 Italia Dirigenti Employees means the 19 dirigenti employees of the 3 Italia Group that have been identified by the 3 Italia Group as being entitled to receive a Retention Bonus;

----------------------------------- 0001193125-17-107561 -----------------------------------
len  :992

first_emp_head_block  :False

split  :train

para_text  :VimpelCom is rebranding to VEON and has changed its name to VEON, effective as of March 30, 2017. VEON is an international communications and technology company, headquartered in Amsterdam, and driven by a vision to unlock new opportunities for customers as they navigate the digital world. Present in some of the world's most dynamic markets, VEON provides more than 200 million customers with voice, fixed broadband, data and digital services. VEON offers services to customers in 12 countries including Russia, Pakistan, Algeria, Uzbekistan, Ukraine, Bangladesh, Kazakhstan, Kyrgyzstan, Tajikistan, Armenia, Georgia and Laos. We provide services under the "Beeline," "Kyivstar," "banglalink," "Jazz" and "Djezzy" brands. As of December 31, 2016, we had 207.5 million mobile customers and 41,994 employees. For a breakdown of total revenue by category of activity and geographic segments for each of the last three financial years, see "Item 5-Operating and Financial Review and Prospects."

----------------------------------- 0001193125-17-107561 -----------------------------------
len  :750

first_emp_head_block  :False

split  :train

para_text  :Distribution. In Pakistan, we offer a portfolio of tariffs and products designed to cater to the needs of specific market segments, including mass-market customers, youth customers, personal contract customers, SOHOs (with one to five employees), SMEs (with six to 50 employees) and enterprises (with more than 50 employees). We offer corporate customers several postpaid plan bundles, which include on-net minutes, variable discounts for closed user groups and follow-up minutes based on bundle commitment. As of December 31, 2016, our sales channels in Pakistan include eight company stores, 21 business centers, a direct sales force of 208 employees, 350 exclusive franchise stores, 230 contractual direct-selling representatives, and over 212,000

----------------------------------- 0001193125-17-107561 -----------------------------------
len  :279

first_emp_head_block  :False

split  :train

para_text  :3 Italia Designated Employees means the employees of the 3 Italia Group that have been identified by the 3 Italia Group as being entitled to receive a Retention Bonus for contributions made in connection with the implementation of the transactions contemplated by this agreement;

----------------------------------- 0001193125-17-107561 -----------------------------------
len  :191

first_emp_head_block  :False

split  :train

para_text  :The Italy Joint Venture offers services to customers in Italy. It provides services under the "WIND" and "3" brands and had 31.3 million customers and 9,356 employees as of December 31, 2016.

----------------------------------- 0001193125-17-107561 -----------------------------------
len  :17

first_emp_head_block  :False

split  :train

para_text  :  15. Employees

----------------------------------- 0001193125-17-106055 -----------------------------------
len  :310

first_emp_head_block  :True

split  :train

para_text  :As of December 31, 2016, we, through our various subsidiaries, had 134,792 employees. Approximately 88% of our employees in Spain held technical, managerial and executive positions, while the remainder were clerical and support staff. The table below sets forth the number of BBVA employees by geographic area.

----------------------------------- 0001193125-17-106055 -----------------------------------
len  :5054

first_emp_head_block  :False

split  :train

para_text  :                         Current format     Previous format                             Millions of Euros       Millions of Euros    ASSETS   December  2015     December  2014      ASSETS   December  2015     December  2014              CASH, CASH BALANCES AT CENTRAL BANKS AND OTHER DEMAND DEPOSITS (1)   29,282    27,719     CASH AND BALANCES WITH CENTRAL BANKS   43,467    31,430    FINANCIAL ASSETS HELD FOR TRADING   78,326    83,258     FINANCIAL ASSETS HELD FOR TRADING   78,326    83,258    Derivatives   40,902    44,229     Loans and advances to credit institutions   -    -    Equity instruments   4,534    5,017     Loans and advances to customers   65    128    Debt securities   32,825    33,883     Debt securities   32,825    33,883    Loans and advances to central banks   -    -     Equity instruments   4,534    5,017    Loans and advances to credit institutions   -    -     Trading derivatives   40,902    44,229    Loans and advances to customers   65    128                         OTHER FINANCIAL ASSETS DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS   2,311    2,761     OTHER FINANCIAL ASSETS DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS   2,311    2,761    Equity instruments   2,075    2,024     Loans and advances to credit institutions   62    -    Debt securities   173    737     Loans and advances to customers   -    -    Loans and advances to central banks   -    -     Debt securities   173    737    Loans and advances to credit institutions   62    -     Equity instruments   2,075    2,024    Loans and advances to customers   -    -                AVAILABLE-FOR-SALE FINANCIAL ASSETS   113,426    94,875     AVAILABLE-FOR-SALE FINANCIAL ASSETS   113,426    94,875    Equity instruments   5,116    7,267     Debt securities   108,310    87,608    Debt securities   108,310    87,608     Equity instruments   5,116    7,267    LOANS AND RECEIVABLES (2)   471,828    376,086     LOANS AND RECEIVABLES   457,644    372,375    Debt securities   10,516    6,659     Loans and advances to credit institutions   32,962    27,059    Loans and advances to central banks   17,830    5,429     Loans and advances to customers   414,165    338,657    Loans and advances to credit institutions   29,317    25,342     Debt securities   10,516    6,659    Loans and advances to customers   414,165    338,657                HELD-TO-MATURITY INVESTMENTS   -    -     HELD-TO-MATURITY INVESTMENTS   -    -    HEDGING DERIVATIVES   3,538    2,551     FAIR VALUE CHANGES OF THE HEDGED ITEMS IN PORTFOLIO HEDGES OF INTEREST RATE RISK   45    121    FAIR VALUE CHANGES OF THE HEDGED ITEMS IN PORTFOLIO HEDGES OF INTEREST RATE RISK   45    121     HEDGING DERIVATIVES   3,538    2,551    INVESTMENTS IN SUBSIDARIES, JOINT VENTURES AND ASSOCIATES   879    4,509     NON-CURRENT ASSETS HELD FOR SALE   3,369    3,793    Joint ventures   243    4,092     INVESTMENTS IN ENTITIES ACCOUNTED FOR USING THE EQUITY METHOD   879    4,509    Associates   636    417     Associates   636    417    REINSURANCE ASSETS   511    559     Joint ventures   243    4,092    TANGIBLE ASSETS   9,944    7,820     INSURANCE CONTRACTS LINKED TO PENSIONS   -    -    Property, plants and equipment   8,477    6,428     REINSURANCE ASSETS   511    559    For own use   8,021    5,985     TANGIBLE ASSETS   9,944    7,820    Other assets leased out under an operating lease   456    443     Property, plants and equipment   8,477    6,428    Investment properties   1,467    1,392     For own use   8,021    5,985    INTANGIBLE ASSETS   10,052    7,371     Other assets leased out under an operating lease   456    443    Goodwill   6,915    5,697     Investment properties   1,467    1,392    Other intangible assets   3,137    1,673     INTANGIBLE ASSETS   10,052    7,371    TAX ASSETS   17,779    12,426     Goodwill   6,915    5,697    Current   1,901    2,035     Other intangible assets   3,137    1,673    Deferred   15,878    10,391     TAX ASSETS   17,779    12,426    OTHER ASSETS   8,566    8,094     Current   1,901    2,035    Insurance contracts linked to pensions   -    -     Deferred   15,878    10,391    Inventories   4,303    4,443     OTHER ASSETS   8,566    8,094    Rest   4,263    3,651     Inventories   4,303    4,443    NON-CURRENT ASSETS AND DISPOSAL GROUPS HELD FOR SALE (3)   3,369    3,793     Rest   4,263    3,651    TOTAL ASSETS   749,855    631,942     TOTAL ASSETS   749,855    631,942      (1) The main differences with regard to the heading " Cash and deposits with central banks" are the inclusion of the balances deposited in Credit Institutions and the reclassification of Loans at central banks to the heading Loans and Receivables (2) The main differences with regard to the heading "Loans and receivables" are the inclusion of loans at central banks and the reclassification of balances deposited in Credit institutions to the heading "Cash, cash balances at central banks and other demand deposits" (3) Corresponding to the heading "Non-current assest held-for-sale" of the previous format

----------------------------------- 0001193125-17-106055 -----------------------------------
len  :2830

first_emp_head_block  :False

split  :train

para_text  :         Additional Tier 1 Capital    Includes: Preferred stock and convertible perpetual securities and deductions     Adjusted acquisition cost    The acquisition cost of the securities less accumulated amortizations, plus interest accrued, but not net of any other valuation adjustments.   Amortized cost    The amortized cost of a financial asset is the amount at which it was measured at initial recognition minus principal repayments, plus or minus, as warranted, the cumulative amount taken to profit or loss using the effective interest rate method of any difference between the initial amount and the maturity amount, and minus any reduction for impairment or change in measured value.     Associates    Companies in which the Group has a significant influence, without having control. Significant influence is deemed to exist when the Group owns 20% or more of the voting rights of an investee directly or indirectly.     Available-for-sale financial assets    Available-for-sale (AFS) financial assets are debt securities that are not classified as held-to-maturity investments or as financial assets designated at fair value through profit or loss (FVTPL) and equity instruments that are not subsidiaries, associates or jointly controlled entities and have not been designated as at FVTPL.     Basic earnings per share    Calculated by dividing "Profit attributable to Parent Company" corresponding to ordinary shareholders of the entity by the weighted average number of shares outstanding throughout the year (i.e., excluding the average number of treasury shares held over the year).     Basis risk    Risk arising from hedging exposure to one interest rate with exposure to a rate that reprices under slightly different conditions.     Business combination    A business combination is a transaction, or any other event, through which a single entity obtains the control of one or more businesses.     Cash flow hedges    Those that hedge the exposure to variability in cash flows attributable to a particular risk associated with a recognized asset or liability or a highly probable forecast transaction and could affect profit or loss.     Commissions    Income and expenses relating to commissions and similar fees are recognized in the consolidated income statement using criteria that vary according to their nature. The most significant income and expense items in this connection are: · Fees and commissions relating linked to financial assets and liabilities measured at fair value through profit or loss, which are recognized when collected · Fees and commissions arising from transactions or services that are provided over a period of time, which are recognized over the life of these transactions or services. · Fees and commissions generated by a single act are accrued upon execution of that act.

----------------------------------- 0001193125-17-106055 -----------------------------------
len  :834

first_emp_head_block  :False

split  :train

para_text  :             Millions of Euros                      Associates Entities and joint ventures.  Breakdown by entities   2016  2015  2014            Joint ventures         Fideicomiso 1729 invex enajenacion de cartera  57  66  70   Fideicomiso F 403853 5 BBVA Bancomer ser.zibata  33  44  20   PSA Finance Argentina compa-ia financiera S.A.  21  23  26   Other joint ventures  118  110  3,976   Subtotal  229  243  4,092   Associates Entities         Metrovacesa, S.A.  -  351  233   Metrovacesa Suelo y Promoci n, S.A.  208  -  -   Metrovacesa Promoci n y Arrendamientos S.A.  67  -  -   Testa Residencial SOCIMI SAU  91  -  -   Atom Bank, PLC.  43  -  -   Brunara SICAV, S.A.  -  54  52   Servired Sociedad Espa-ola de Medios de Pago, S.A  11  92  8   Other associates  116  139  124   Subtotal  536  636  417   Total  765  879  4,509

### Test and refine regex patterns for flagging likely relevant documents

In [10]:
def check_regex_match(pattern, text_list):
    for idx, s in enumerate(text_list):
        mo = re.search(pattern, s)
        if mo:
            ms = mo.span()[1]
            print("------    " + str(idx) + "   Matched!    -----")
            print('str length  :' + str(len(s)) + '    match span  :' + str(ms))
            print(s[:ms])
            print('')
            print(s[ms:])
            print(re.search(pattern, s))
        else:
            print("------    " + str(idx) + "  NO MATCH    -----")
            print(s)

In [13]:
flag_pat_list = [r"employ((ed|s)?) (approximately )?([0-9]{1,3},)*[0-9]{1,3} ((permanent|full-time|part-time|temporary) )?(employees|people|team members|members|persons|associates)",
#r"([0-9]{1,3},)*[0-9]{1,3} [^.]+ ((employ\w*|head([ -])?count|member(s)?|person(s)?|people|staff|team|workforce))",
#r"((employ\w*|head([ -])?count|member(s)?|person(s)?|people|staff|team|workforce) )+[^.]+ *([0-9]{1,3},)*[0-9]{1,3}",
r"([0-9]{1,3},)*[0-9]{1,3} ((permanent|full-time|part-time|temporary|total) )*(employees|team members)"]
#r"((permanent|full|part|time|full-time|part-time|temporary) )+(employees|team members|associates)",
#r"employed( approximately)?$", 
#r"Total workforce",

#r"^((permanent|full|part|time|full-time|part-time|temporary|total) )*(employees|team members|associates)"
                 
flag_pats = [re.compile(x, re.I) for x in flag_pat_list]

In [15]:
para_list = train_df.para_text.tolist()

In [26]:
pos_ids = set()

In [27]:
for i, para in enumerate(para_list):
    #if not any(reg.search(para) for reg in nonum_regs) and k2 not in para_dict[k]['df'].keys():
    for reg in flag_pats:
        if reg.search(para):
            pos_ids.append(train_df.index[i])
            break

In [30]:
pos_ids = set(pos_ids)

In [33]:
train_df.loc[train_df.index.isin(pos_ids), 'label'] = 1

ValueError: Cannot setitem on a Categorical with a new category, set the categories first

In [17]:
train_df.loc[train_df.index.isin(pos_ids)]

,acc_id,para_text,len,emp_header,first_emp_head_block,para_text_orig,para_tag,split,label
2,0000004127-16-000068,"As of September 30, 2016, we employed approxim...",245,True,True,"As of September 30, 2016,\r\nwe employed appro...","<div class=""c80""><span class=""c32"">As of</span...",train,0

In [18]:
train_df.iloc[0:2,]

,acc_id,para_text,len,emp_header,first_emp_head_block,para_text_orig,para_tag,split,label
2,0000004127-16-000068,"As of September 30, 2016, we employed approxim...",245,True,True,"As of September 30, 2016,\r\nwe employed appro...","<div class=""c80""><span class=""c32"">As of</span...",train,0
3,0000004127-16-000068,EMPLOYEES,9,False,False,EMPLOYEES,"<div class=""c90"">EMPLOYEES</div>",train,0